.header-container{
	display:flex;
	flex-direction:column;
}

.navbar{
	background-color:#3D7DCA;
	box-shadow:0 2px 4px rgba(0,0,0,0.7);
}

.navbar ul {
	display:flex;
	min-height:70px;
	justify-content:space-around;
	align-items:center;
	margin:0px 25px;
	padding:0px;
}

.navbar ul li {
	list-style-type:none;
	font-size:32px;
	font-family:'Quando', sans-serif;
	font-weight:500;
}

.navbar ul li:nth-child(2) {
	font-size:70px;
	letter-spacing:4px;
	font-family:"Bangers", sans-serif;
}

.navbar ul li a{
	text-decoration:none;
	color:#FFCB05;
}